<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/boxstyle.css" type="text/css">
	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		"HTML-CSS": { 
			scale: 115,
			matchFontHeight: false 
		},
	  });
	</script>
</head>

<body>
	{{ content }}
    <footer><p>© 2018 frecafloros</p></footer>
</body>

</html>
